//============================================================
// Blockquotes
//============================================================
$blockquotes: (
  types: (
    'info': (
      'color': $blockquote-info-color,
      'bg-color': $blockquote-info-bgcolor,
      'border-color': $blockquote-info-border-color
    ),
    'alert': (
      'color': $blockquote-alert-color,
      'bg-color': $blockquote-alert-bgcolor,
      'border-color': $blockquote-alert-border-color
    ),
    'tip': (
      'color': $blockquote-tip-color,
      'bg-color': $blockquote-tip-bgcolor,
      'border-color': $blockquote-tip-border-color
    )
  )
);

.blockquote {
	display: block;
	position: relative;
	padding-left: $blockquote-content-offset;
	background-color: $blockquote-default-bg-color;
	border-radius: $theme-border-radius;
	min-height: 7rem;
  margin-bottom: 1rem;
  @include box-shadow($bq-sh-x, $bq-sh-y, $bq-sh-blur, $bq-sh-spread, $bq-sh-color);

  &:last-of-type {
    margin-bottom: 0;
  }

  &:before {
    display: block;
    position: absolute;
    z-index: 1;
    top: -1px;
    bottom: -1px;
    left: -1px;
    width: 0.25rem;
    background-color: darken($blockquote-default-bg-color,10%);
    content: '';
  }
}

.blockquote-addon {
	position: absolute;
	display: block;
	text-align: center;
	top: $blockquote-addon-offset + 0.4rem;
	left: $blockquote-addon-offset + 0.3rem;
	width: $blockquote-addon-dimensions;
	height: $blockquote-addon-dimensions;
	line-height: 1;
}

.blockquote-icon {
	font-size: 4.1rem;
	color: $theme-text-color;
	height: 100%;
	line-height: 1;
  display: none;
}

.blockquote-content {
	padding: $blockquote-padding;
	padding-left: 0;
	width: calc(100% - #{$blockquote-padding});
	width: -webkit-calc(100% - #{$blockquote-padding});
}

.blockquote-content-header {
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 0.2rem;
	text-transform: uppercase;
}

.blockquote-content-body {
	color: $theme-text-color;
	font-size: 14px;
	* {
		color: inherit;
	}
}

@each $type in map-keys(map-get($blockquotes, types)) {
  .blockquote-#{$type} {
    $bq-bg-color: map-deep-get($blockquotes, 'types', $type, 'color');

    border-left: none;
    background-color: map-deep-get($blockquotes, 'types', $type, 'bg-color');;
    border: 1px solid map-deep-get($blockquotes, 'types', $type, 'border-color');
    border-bottom-color: darken(map-deep-get($blockquotes, 'types', $type, 'border-color'),5%);
    fill: map-deep-get($blockquotes, 'types', $type, 'color');

    &:before {
      background-color: map-deep-get($blockquotes, 'types', $type, 'color');
    }

    .blockquote-content-header {
      color: map-deep-get($blockquotes, 'types', $type, 'color');
    }
  }
}