//============================================================
// SF Tabs
//============================================================

.tabs {
	width: 100%;
	position: relative;

	.tabs-bar {
		display: block;
		width: 100%;
		border-bottom: $comp_tab-nav-border-thickness solid $comp_tab-nav-border-color;

		> .tab-nav {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}

	> .tab-content {
		display: none;
		width: auto;
		padding: $comp_tab-content-padding;

		&.in {
			display: block !important;
		}
	}
}

.tab-nav {
	display: flex;
	align-content: flex-start;
	position: relative;
	margin: 0;

	&:after {
		display: block;
		position: absolute;
		height: $comp_tab-nav-border-thickness;
		background-color: $comp_tab-nav-border-color;
		top: 100%;
		left: 0;
		right: 0;
		content: '';
	}

	> .tab-item {
		display: block;
		position: relative;

		> .tab-item-link {
			display: block;
			text-align: center;
			color: $comp_tab-link-color;
			font-weight: $comp_tab-font-weight;
			font-size: 1rem;
			padding: $comp_tab-link-padding;
			text-decoration: none;
			text-transform: $comp_tab-link-transform;
			position: relative;
			outline: none;

			&:focus, &:active {
				color: $comp_tab-link-color-active;
			}

			&:hover {
				color: $comp_tab-nav-border-color-active;
			}

			&:after {
				content: '';
				position: absolute;
				bottom: -$comp_tab-nav-border-thickness;
				z-index: 1;
				left: 0;
				right: 0;
				height: $comp_tab-nav-border-thickness;
				background-color: transparent;
				display: none;
			}
		}

		&.active > .tab-item-link {
			color: $comp_tab-link-color-active;

			&:hover {
				color: $comp_tab-nav-border-color-active;
			}

			&:after {
				display: block;
				background-color: $comp_tab-nav-border-color-active;
			}
		}
	}	
}