@font-face {
  font-family: 'Block Quote Icons';
  src: url('./sf-themes/fonts/blockquote-icons/blockquotes.eot');
  src: url('./sf-themes/fonts/blockquote-icons/blockquotes.eot?#iefix') format('embedded-opentype'),
       url('./sf-themes/fonts/blockquote-icons/blockquotes.woff') format('woff'),
       url('./sf-themes/fonts/blockquote-icons/blockquotes.ttf') format('truetype'),
       url('./sf-themes/fonts/blockquote-icons/blockquotes.svg#blockquotes') format('svg');
  font-weight: normal;
  font-style: normal;
}
