$product-namespaces: 'leap','lawconnect','rapidpay';
$theme-font-family: '';
$theme-text-color: #333;
$theme-border-radius: 2px;

@import 'blockquotes';
@import 'custom-tabs';
@import 'styled-lists';
@import 'well';

@each $namespace in $product-namespaces {
}