@font-face {
  font-family: 'Block Quote Icons';
  src: url('blockquotes.eot');
  src: url('blockquotes.eot?#iefix') format('embedded-opentype'),
       url('blockquotes.woff') format('woff'),
       url('blockquotes.ttf') format('truetype'),
       url('blockquotes.svg#blockquotes') format('svg');
  font-weight: normal;
  font-style: normal;
}