//============================================================
// Styled Lists
//============================================================
$listCounterName: listCounter;

%list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.#{$prefix}list-bullet-circular {
  @extend %list-unstyled;

  list-style-type: none !important;
  counter-reset: $listCounterName;
  margin-bottom: 2rem;
  margin-top: 2rem;

  > li {
    padding-left: 3rem;
    position: relative;
    &:before {
      position: absolute;
    }
  }
}

ol.#{$prefix}list-bullet-circular {
  > li {
    margin-bottom: 1.8rem !important;

    &:before {
      counter-increment: $listCounterName;
      content: counter($listCounterName);
      left: 0;
      top: calc(50% - 1.1rem);
      top: -webkit-calc(50% - 1.1rem);
      text-align: center;
      font-size: 1.1rem;
      font-weight: 500;
      background-color: lighten($theme-text-color,70%);
      line-height: 1;
      padding: 8px 12px;
      border-radius: 10rem;
      color: lighten($theme-text-color,10%);
    }
  }
}

ul.#{$prefix}list-bullet-circular {
  > li {
    $dim: 0.5rem;
    margin-bottom: 0.5rem !important;
    &:before {
      content: '';
      width: $dim;
      height: $dim;
      top: calc(50% - #{$dim / 2});
      top: -webkit-calc(50% - #{$dim / 2});
      left: 0.9rem;
      border-radius: 100%;
      background-color: lighten($theme-text-color,10%);
    }
  }
}