//============================================================
// Well
//============================================================

.#{$prefix}well {
	display: block;
	border-radius: $theme-border-radius;
	width: auto;
	padding: $theme-padding;
	margin-bottom: 1rem;
	background-color: $well-bg;
}

.#{$prefix}well-heading {
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	color: darken($well-bg,45%);
	margin: 0;
	margin-bottom: 0.5rem;
}

.#{$prefix}well-body {
	font-size: 1em;

	> * {
		color: inherit
	}

	p {
		margin-top: 0;
		margin-bottom: 1rem;
	}
}